@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

/* Bank Home CSS */

.home-container {
  height: 100vh;
  color: white;
  background: #f29f05;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-content {
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  margin-bottom: 20px;
  font-family: "Bona Nova SC", serif;
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.home-content p {
  font-family: "Bona Nova SC", serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  color: black;
}

.home-typing-container {
  display: inline-flex;
  align-items: center;
}

.home-typing-dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #000;
  animation: blink 0.6s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-buttons {
  display: flex;
}

.home-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-buttons button:hover {
  background: rgb(35, 35, 35);
}

.home-footer {
  padding: 20px;
}

.home-footer span {
  color: black;
  font-family: "Bona Nova SC", serif;
  font-size: 16px;
  font-weight: 500;
}

/* Responsive CSS */

@media (max-width: 660px) {
  .home-content h1 {
    font-size: 30px;
  }

  .home-content p {
    font-size: 15px;
  }
}
