/* BankLogin CSS */

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #8e2de2, #4a00e0);
}

.login-container p {
  margin-top: 10px;
  color: #6c757d;
  font-size: medium;
}

.login-container p a {
  color: #8e2de2;
  text-decoration: none;
}

.login-container p a:hover {
  color: #4a00e0;
  text-decoration: underline;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.login-box h2 {
  margin-bottom: 50px;
  color: #6f42c1;
}

.login-input-group {
  position: relative;
  margin-bottom: 15px;
}

.login-input-group input {
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-input-group .input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6f66f7;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: medium;
}

.login-options label {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.login-options input[type="checkbox"] {
  margin-right: 8px;
}

.login-options a {
  color: #8024E2;
  text-decoration: none;
}

.login-options a:hover {
  color: #4a00e0;
  text-decoration: underline;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: linear-gradient(to right, #6f42c1, #4a00e0);
}

.login-back-to-home {
  margin-top: 20px;
  font-size: medium;
  text-align: center;
}

.login-back-to-home a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.login-back-to-home a:hover {
  color: rgb(186, 181, 181);
  text-decoration: underline;
}

.login-arrow-icon {
  margin-right: 8px;
}

/* Responsive CSS */

@media (max-width: 420px) {
  .login-box {
    width: 320px;
  }

  .login-input-group input {
    width: 100%;
  }
}
