@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&display=swap");

/* Navbar Web Style */

.navbar {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-item {
  margin: 0 50px;
  position: relative;
}

.navbar-item a {
  font-size: 15px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.navbar-item a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #f29f05;
  transition: width 0.6s ease, left 0.6s ease;
  transform: translateX(0%);
}

.navbar-item a:hover::after {
  width: 85%;
  left: 15%;
}

.navbar-item a:hover {
  color: #f29f05;
}

.navbar-icon {
  margin-right: 5px;
}

/* Navbar Toggler */

.navbar-toggler {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Navbar Mobile Style */

.sidebar {
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: #171717;
  position: fixed;
  display: flex;
  transition: right 0.3s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  right: -250px;
  z-index: 1000;
}

.sidebar.active {
  right: 0;
}

.sidebar-hamburger-line {
  width: 25px;
  height: 3px;
  margin-top: 3px;
  background: white;
  border-radius: 3px;
}

.sidebar-close-btn {
  font-size: 24px;
  color: #ffffff;
  background: none;
  border: none;
  margin-bottom: 20px;
  align-self: flex-end;
  cursor: pointer;
}

/* Navbar Right Sidebar Style */

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin: 15px 10px;
}

.sidebar-item a {
  font-size: 12px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

/* Navbar Hide */

.navbar-menu.hidden {
  display: none;
}

/* Navbar Responsive Style */

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggler {
    display: block;
    position: absolute;
    right: 20px;
  }
}

/* Content Style */

.content {
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 6%;
  padding-inline: 20px;
  background-color: #f29f05;
  height: fit-content;
}

/* Account Info Style */

.account-form-container {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.account-form-container h2 {
  padding-block: 15px;
  font-family: "Bona Nova SC", serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.account-input-group {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  align-items: center;
  position: relative;
}

.account-field-icon {
  margin-top: 15px;
  margin-right: 10px;
  color: black;
  font-size: 18px;
}

.account-input-field {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

.account-toggle-password-icon {
  margin-top: 10px;
  margin-right: 45px;
  color: black;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  right: 0;
}

.account-edit-icon {
  margin-top: 15px;
  color: black;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  right: 0;
}

.account-save-button {
  width: 100%;
  padding: 10px;
  font-family: "Bona Nova SC", serif;
  font-size: 16px;
  color: white;
  background-color: black;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-save-button:hover {
  background-color: rgb(35, 35, 35);
}

/* Initiate Transaction Style */

.initiate-transaction-form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.initiate-transaction-form h2 {
  padding-block: 15px;
  font-family: "Bona Nova SC", serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.initiate-transaction-form-group {
  margin-bottom: 15px;
}

.initiate-transaction-form-group label {
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: black;
  display: block;
}

.initiate-transaction-input-with-icon {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  transition: border-color 0.3s ease;
}

.initiate-transaction-input-with-icon .initiate-transaction-input-icon {
  color: black;
  margin-right: 10px;
}

.initiate-transaction-input-with-icon input,
.initiate-transaction-input-with-icon select {
  flex: 1;
  font-size: 14px;
  border: none;
  outline: none;
}

.initiate-transaction-input-with-icon input:focus,
.initiate-transaction-input-with-icon select:focus {
  border-color: black;
}

.initiate-transaction-form-group input[type="text"],
.initiate-transaction-form-group input[type="number"],
.initiate-transaction-form-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.initiate-transaction-form-group input[type="text"]:focus,
.initiate-transaction-form-group input[type="number"]:focus,
.initiate-transaction-form-group select:focus {
  border-color: black;
  outline: none;
}

.initiate-transaction-submit-button {
  width: 100%;
  padding: 10px;
  font-family: "Bona Nova SC", serif;
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.initiate-transaction-submit-button .button-icon {
  margin-right: 8px;
}

.initiate-transaction-submit-button:hover {
  background-color: rgb(35, 35, 35);
}
